@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
/*
HTML5 Reset ::style.css - via https://github.com/murtaugh/HTML5-Reset/blob/master/_/css/style.css
----------------------------------------------------------
We have learned much from/been inspired by/taken code where offered from:Eric Meyer ::http://ericmeyer.com
HTML5 Doctor ::http://html5doctor.com
and the HTML5 Boilerplate ::http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, img, nav, section {
  display: block; }

/* Responsive images and other embedded objects
Note:keeping IMG here will cause problems if you're using foreground images as sprites.
If this default setting for images is causing issues,you might want to replace it with a .responsive class instead. */
img, object, embed {
  max-width: 100%;
  height: auto; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted. 
don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well,actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

/* Accessible focus treatment
people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

small {
  font-size: 85%; }

em, i {
  font-style: italic; }

strong, th, b {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
gist.github.com/413930 */
sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.75em; }

sub {
  bottom: -0.5em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace,sans-serif; }

/* hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.lt-ie8 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover */
.lt-ie7 html {
  filter: expression(document.execCommand("BackgroundImageCache",false,true)); }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*  iOS fixes 
	from klAS */
html {
  -webkit-text-size-adjust: none;
  font-size: 62.25%;
  width: 100%;
  height: 100%; }

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none; }

/* Media Queries for determining javascript events, via http://adactio.com/journal/5429/ */
body:after {
  content: 'mobile';
  display: none; }

@media only screen and (min-width: 481px) {
  body:after {
    content: 'desktop'; } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

body {
  color: #282828;
  line-height: 1.4em;
  font-size: 1.4em;
  font-family: "Inconsolata", menlo, monospace, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  word-spacing: -0.1em;
  letter-spacing: 0.07em;
  background: white;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1.5s; }
  body * {
    -webkit-transition: all 175ms ease-in;
    -moz-transition: all 175ms ease-in;
    -ms-transition: all 175ms ease-in;
    -o-transition: all 175ms ease-in;
    transition: all 175ms ease-in; }

.hidden {
  display: none;
  visibility: hidden; }

img {
  max-width: 100%; }

::-moz-selection {
  background: #f05753;
  color: #f0f0f0;
  text-shadow: none; }

::selection {
  background: #f05753;
  color: #f0f0f0;
  text-shadow: none; }

a {
  color: #282828;
  text-decoration: none; }
  a:hover {
    color: #8e8e8e; }
  a:active {
    color: #282828; }
  a:visited {
    color: #282828; }
  a:focus {
    color: #282828; }

header {
  position: fixed;
  margin-top: 2.8em;
  width: 100%;
  top: 0;
  z-index: 100; }
  header div {
    *zoom: 1;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; }
    header div:before, header div:after {
      content: " ";
      display: table; }
    header div:after {
      clear: both; }

.logo {
  cursor: pointer;
  float: left;
  position: relative;
  display: block;
  float: left;
  margin-right: 2%;
  width: 10.75%;
  z-index: 500 !important; }
  .logo img {
    float: right; }
  .logo:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .logo {
      display: block;
      float: left;
      margin-right: 2%;
      width: 10.75%; }
      .logo:last-child {
        margin-right: 0; } }

.personal {
  display: block;
  float: left;
  margin-right: 2%;
  width: 87.25%;
  margin-right: 0; }
  .personal:last-child {
    margin-right: 0; }

nav {
  display: block;
  float: left;
  margin-right: 2%;
  width: 87.25%;
  margin-left: 12.75%;
  margin-top: 1.4em; }
  nav:last-child {
    margin-right: 0; }
  nav li {
    padding: 0.07em 0; }

.ignore {
  opacity: 0.1; }

.content {
  position: relative;
  z-index: 200;
  margin-top: 21em;
  width: 100%;
  *zoom: 1; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }
  .content section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; }

article {
  margin-bottom: 1.4em; }
