@import "partials/reset";
@import "bourbon";
@import "partials/base";



@import "neat/neat";

$mobile: new-breakpoint(max-width 480px 2);
$tablet: new-breakpoint(max-width 770px 4);




/*  iOS fixes 
	from klAS */
html { 
	-webkit-text-size-adjust: none; 
	font-size: 62.25%;
}

input[type=submit] { -webkit-appearance: none; -moz-appearance: none; }

/* Media Queries for determining javascript events, via http://adactio.com/journal/5429/ */
body:after { content: 'mobile'; display: none; }
@media only screen and (min-width: 481px) {
	body:after { content: 'desktop'; }
}

@include keyframes(toFront) {
	0%   { z-index: inherit; }
	50%  {  }
	100% { z-index: 125; }
}

@include keyframes(fade-in) {
	0% { 
		opacity: 0;
	}
	50% { 
		opacity: 0;
	}
	100 { 
		opacity: 1;
	}
}

@include keyframes(flash) {
	0% { background: $background; }
	100% { background: $base-color; }
}

body {
	@include typeRules();
	background: $background;
	width: 100%;
	height: 100%;
	@include animation(fade-in 1.5s);
	* {
		@include transition(all 175ms ease-in);
	}
	@media screen and (max-width: 75px) {
		
	}
}

.container {
	@include inner();
	@include clearfix();
	@media screen and (max-width: 75px) {
		display: none;
	}
}

.hidden {
	display: none;
	visibility: hidden;
}

img {
	max-width: 100%;
}

@include selection($selected-color, $selected-background);
@include link-colors();

a {
	@include transition(margin padding 50ms ease-in-out);
	margin: 0 0.3em 0.3em 0;
	padding: 0;
	&:hover {
		background: $base-color;
		color: $hover-color;
		font-weight: lighter;
		padding: 0 0.3em 0.3em 0;
		margin: 0;
	}
	&:active {
		padding: 0 0.3em 0.3em 0;
		margin: 0;
	}
}

abbr {
	border-bottom: none;
}

dfn {
	border-bottom: none;
}

#description {
	padding-left: 12%;
	cursor: pointer;
	span {
		background: $background;
		padding: 0 0.3em 0.3em 0;
	}
	p {
		@include leader();
		width: 50%;
		@include media($tablet) {
			@include fill-parent();
		}
	}
	
}

.bump {
	height: $base-line-height * 15;
}

div.logo {
	max-width: $max-width;
	div {
		cursor: pointer;
		float: left;
		width: 12%;
		//@include animation(flash 0.6s);
		@include animation-timing-function(ease-in);
		@include media($mobile) {
			position: relative;
			left: -0.3em;
		}
	}
	position: fixed;
	z-index: 150;
	width: 90%;
	@include leader(2);
	
}

header {
	position: fixed;
	background: transparentize($background, 0.2);
	width: 90%;
	@include padding-leader(2);
	@include padding-trailer();
	max-width: $max-width;
	z-index: 0;
	div {
		padding-left: 12%;
	}

	nav {
		@include leader();
		a.active {
			font-weight: bold;
		}

		ul {
			margin: 0;
			padding: 0;
			@include clearfix();
			&.page-list {
				
				@include trailer(0.5);
				li {
					float: left;
					padding-right: 1.0em;
					margin-right: 1.1em;
					font-weight: bold;
				}
			}
			&.project-list {

			}
		}
	}
}


section.content {
	background: $background;
	//border-top: $border;
	position: relative;
	float: left;
	width: 100%;
	z-index: 100;

	article {
		//@include trailer(1);
		padding-left: 12%;
		&:first-child {
			border-top: $border;
		}
		border-bottom: $border;

		&.project {
			padding: 0;
		}

	}
}

#resume {
	//@include leader();
	@include padding-leader(2);

	ol, ul {
		list-style: none;
		float: left;

	}

	address {
		display: block;
		float: left;
	}

	section {
		@include clearfix();
		@include trailer();
		h2 {
			font-weight: bold;
			float: left;
			width: 25%;
			@include media($tablet) {
				@include fill-parent();
			}
		}
		div {
			float: left;
			width: 75%;
			@include media($tablet) {
				@include fill-parent();
			}
		}
		ul li ul {
			float: none;
			margin-left: 2.0em;
			@include clearfix();

			li {
				float: left;
				margin-right: 0.5em;
				&:after {
					content: ","
				}
				&:last-child:after {
					content: "."
				}

				// margin-right: 0.3em;
			}
		}
	}
}

p {
	@include trailer();
}


footer {
	padding-left: 12%;
	max-width: $max-width;

}

.fixed {
	position: fixed;
	top: $base-line-height * 2;
}

.hide {
	display: none;
}

.ignore {
	opacity: 0.2;
}

.front {
	z-index: 125;
	height: 100%;
}

.vh {
	visibility: hidden;
}

.scale {
	@include transform(scale(0.8));
}