@import "partials/reset";
@import "bourbon";
@import "partials/base";

$mobile: new-breakpoint(min-width 319px max-width 480px 2);
$tablet: new-breakpoint(min-width 481px max-width 770px 4);

@import "neat/neat";




/*  iOS fixes 
	from klAS */
html { 
	-webkit-text-size-adjust: none; 
	font-size: 62.25%;
	width: 100%;
	height: 100%;
}

input[type=submit] { -webkit-appearance: none; -moz-appearance: none; }

/* Media Queries for determining javascript events, via http://adactio.com/journal/5429/ */
body:after { content: 'mobile'; display: none; }
@media only screen and (min-width: 481px) {
	body:after { content: 'desktop'; }
}

@-webkit-keyframes fade-in {
	0%   { opacity: 0; }
	50%  { opacity: 0; }
	100% { opacity: 1; }
}

body {
	@include typeRules();
	//@include outer-container();
	background: $background;
	-webkit-animation-name: fade-in;
	-webkit-animation-duration: 1.5s;
	* {
		@include transition(all 175ms ease-in);
	}
}

.hidden {
	display: none;
	visibility: hidden;
}

img {
	max-width: 100%;
}

@include selection($selected-color, $selected-background);
@include link-colors();

.container {
	//@include outer-container();
	//@include pad();
 }

header {
	position: fixed;
	@include leader(2);
	width: 100%;
	top: 0;
	z-index: 100;
	div {
		@include clearfix();
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
	}
}
.logo {
	cursor: pointer;
	img {
		float: right;
	}
	float: left;
	position: relative;
	@include span-columns(1 8);
	@media screen and (max-width: 800px) {
		@include span-columns(1 8);
	}
	z-index: 500 !important;
}

.personal {
	@include span-columns(7 8);
	@include omega();
	@media screen and (max-width: 800px) {
		
	}
}

nav {
	@include span-columns(7 8);
	@include shift(1);
	@include leader();
	li {
		padding: 0.07em 0;
	}
	@media screen and (max-width: 800px) {
		
	}
}

.ignore {
	opacity: 0.1;
}



.content {
	position: relative;
	z-index: 200;
	@include leader(15);
	width: 100%;
	@include clearfix();
	section {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

article {
	@include trailer();

	.project {

	}
}




